.UnityVisualiser {
    width: 50vw;
    height: 50vh;
    position: relative;

    #onCanvas {
        z-index: 1;
        position: absolute;

        button {
            margin-right: 10px;
        }
    }
    
    canvas {
        z-index: 0;
        position: absolute;
    }
}