.TopBar {
    background-color: #212936 !important;

    .menuButton {
        margin-left: 0;
        margin-right: auto;
    }

    .Button {        
        background-color: #2196F3;
        color: white;
        margin: 0 5px;

        &:hover {
            background-color: #42A5F5;
        }
    }    
}