.Graph {
    position: relative;

    .axisName {    
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;    
        color: white;
        position: absolute;

        &.Y {            
            writing-mode: vertical-rl;
            text-orientation: mixed;
            top: 50%;
            transform: translateY(-50%);
        }

        &.X {                               
            left: 50%;
            top: calc(100%);
            transform: translate(-50%, -100%);
        }
    }

    div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;                

        .rv-xy-plot {
            fill: transparent;
            stroke: #313C4E;
            stroke-width: 2px;
            

            path {
                stroke: #2196F3 !important;
                stroke-width: 3px;
            }

            svg {
                overflow: visible;
            }
        }
    }    
}